.animation {
  color: orange;
  font-size: 62px;
  font-weight: bold;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  overflow: hidden;
  @media (max-width: 769px) {
    font-size: 42px;
    height: 60px;
  }
  @media (max-width: 399px) {
    font-size: 39px;
  }
  @media (min-width: 769px) {
    height: 80px;
  }
}

.animationSpan {
  height: 60px;
  @media (max-width: 769px) {
    height: 80px;
    margin-bottom: -22px;
  }
}

.animation {
  .animated {
    animation: headerAnimation 12s infinite;
    animation-timing-function: cubic-bezier(0.5, 0.16, 0.48, 0.86);
    @media (max-width: 769px) {
      max-width: 370px;
    }
  }

  @keyframes headerAnimation {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(0);
    }
    33% {
      transform: translateY(-110px);
    }
    63% {
      transform: translateY(-110px);
    }
    66% {
      transform: translateY(-220px);
    }
    96% {
      transform: translateY(-220px);
    }
    100% {
      transform: translateY(-330px);
    }
  }

  @media (max-width: 769px) {
    @keyframes headerAnimation {
      0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(0);
      }
      33% {
        transform: translateY(-60px);
      }
      63% {
        transform: translateY(-60px);
      }
      66% {
        transform: translateY(-120px);
      }
      96% {
        transform: translateY(-120px);
      }
      100% {
        transform: translateY(-180px);
      }
    }
  }
  @media (min-width: 769px) {
    @keyframes headerAnimation {
      0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(0);
      }
      33% {
        transform: translateY(-80px);
      }
      63% {
        transform: translateY(-80px);
      }
      66% {
        transform: translateY(-160px);
      }
      96% {
        transform: translateY(-160px);
      }
      100% {
        transform: translateY(-240px);
      }
    }
  }
}
