.footerContainer {
  background-color: #142407;
  color: white;
  margin-top: 0px;
  padding-bottom: 120px;
}

.footerLogo {
  margin-top: 70px;
}

.footerImages {
  width: 45x;
  height: 45px;
  margin-right: 20px;
  border-color: white;
  border: solid 1px;
  padding: 12px;
  border-radius: 25px;
}
.footerContainer a {
  color: white;
}

.footerUl {
  list-style-type: none;
}

.footerItems {
  margin-top: 20px;
}
