.homeHeader {
  background-image: url(../images/home-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: left;
  height: 620px;
}

.homeHeaderH1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-top: 120px;
}

.homeOverOns {
  font-size: 50px;
  color: orange;
  font-weight: bold;
}

.homeHeaderP {
  color: white;
  margin-top: 10px;
}

.soliciteerBtn {
  width: 190px;
  background: linear-gradient(225deg, #fbb843 0%, #f58220 100%);
  border-color: orange;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 3px 10px 0 rgba(245, 130, 32, 0.2);

  @media (max-width: 769px) {
    width: 350px;
    margin-left: 40x;
  }
  @media (max-width: 399px) {
    width: 300px;
    margin-left: 15px;
  }
}

.soliciteerBtn:hover {
  border-color: orange;
}

.soliciteerBtn a {
  text-decoration: none;
}

.firstHomeContainer {
  background-image: url(../images/heartbeat.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  margin-top: 70px;
}
.home2Img {
  width: 80%;
  height: 80%;
  display: block;
  left: 15px;
  bottom: 15px;
  border-radius: 8px;
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: -20px 20px 5px 0px rgba(255, 165, 0, 1);
  @media (max-width: 769px) {
    margin-left: 30px;
  }
}
.home3Img {
  width: 80%;
  height: 80%;
  display: block;
  left: 15px;
  bottom: 15px;
  border-radius: 8px;
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 20px 20px 5px 0px rgba(255, 165, 0, 1);
  @media (max-width: 769px) {
    margin-left: 30px;
  }
}

.overOnsContainer {
  margin-top: 60px;
  margin-left: 15px;
}

.hyperfocusContainer {
  margin-top: 60px;
  margin-left: 30px;
}

.SecondtHomeContainer {
  margin-bottom: 70px;
  margin-top: 100px;
}
.thirdHomeContainer {
  background: linear-gradient(225deg, #fbb843 0%, #f58220 100%);
  padding-top: 120px;
  padding-bottom: 120px;
}

.thirdHomeContainerSoliciteerBtn {
  width: 190px;
  color: orange;
  background-color: white;
  border-color: white;
  color: linear-gradient(225deg, #fbb843 0%, #f58220 100%);
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 3px 10px 0 rgba(245, 130, 32, 0.2);
  @media (max-width: 769px) {
    width: 350px;
    margin-left: 35px;
    margin-bottom: 20px;
  }
  @media (max-width: 399px) {
    width: 300px;
    margin-bottom: 50px;
    margin-left: 25px;
  }
}

.thirdHomeContainerSoliciteerBtn:hover {
  background-color: white;
  color: orange;
  border-color: white;
}
.thirdHomeH1 {
  color: white;
  font-size: 51;
  font-weight: bold;
}

.thirdHomeP1 {
  color: white;
}
.thirdHomeContainerItems {
  border-radius: 10px;
  border: 1px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}

.thirdHomeContainerItemsIcon {
  margin-right: 30px;
}

.thirdHomeContainerItemsP {
  font-size: 16px;
}

.home4ImgContainer {
  background-image: url(../images/home-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
  width: 100%;
}

.FourthHomeContainer {
  margin-top: 100px;
}

.FourthHomeContainerH1 {
  font-weight: bold;
  color: orange;
}

.FourthHomeContainerP {
  text-align: center;
  margin-top: 10px;
  line-height: 28px;
  font-size: 17px;
  @media (max-width: 769px) {
    text-align: left;
  }
}

.FifthhHomeContainer {
  margin-top: 70px;
}

.FifthhHomeContainerP1 {
  font-weight: bold;
  margin-top: 20px;
  line-height: 30px;
  font-size: 20px;
}
.FifthhHomeContainerP2 {
  margin-top: 10px;
  line-height: 30px;
}

.sixthhHomeContainer {
  margin-top: 30px;
  margin-bottom: 120px;
}

.LastHomeSoliciteerBtn {
  width: 220px;
  background: linear-gradient(225deg, #fbb843 0%, #f58220 100%);
  border-color: orange;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 25px;
  padding: 15px;
  font-weight: bold;
  box-shadow: 0 3px 10px 0 rgba(245, 130, 32, 0.2);
  @media (max-width: 769px) {
    width: 270px;
    margin-left: 50px;
  }
}

.LastHomeSoliciteerBtn:hover {
  border-color: orange;
}

.meerInfoBtn {
  border-color: lightgray;
  width: 220px;
  color: orange;
  background-color: white;
  color: linear-gradient(225deg, #fbb843 0%, #f58220 100%);
  border-radius: 25px;
  margin-top: 10px;
  margin-right: 25px;
  padding: 15px;
  font-weight: bold;
  box-shadow: 0 3px 10px 0 rgba(245, 130, 32, 0.2);
  @media (max-width: 769px) {
    width: 270px;
    margin-left: 50px;
  }
}

.overOnsContainerP {
  line-height: 28px;
}

.meerInfoBtn:hover {
  background-color: white;
  color: orange;
  border-color: lightgray;
}

.awssld__content {
  background: none;
}

.awssld__bullets {
  display: none;
}

.awssld__controls button {
  display: none;
}

.animation {
  color: orange;
  font-size: 62px;
  font-weight: bold;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  @media (max-width: 769px) {
    font-size: 42px;
  }
}
