.navContainer {
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  margin-bottom: 30px;
  z-index: 99;
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  background: transparent;
}

.navContent {
  padding-right: 30px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 17px;
  margin-right: 10px;
}

.navContainer a {
  color: red;
}

.navbar-nav .nav-link {
  text-align: center;
}
.navbar-nav {
  @media (max-width: 769px) {
    padding-bottom: 280px;
    padding-top: 280px;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
  @media (min-width: 992px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.navContact {
  background: linear-gradient(225deg, #fbb843 0%, #f58220 100%);
  font-weight: bold;
  font-size: 16px;
  border-color: orange;
  padding: 14px;
  border-radius: 23px;
  color: white;
  @media (max-width: 769px) {
    padding-left: 50px;
  }
}

.navContact a {
  font-weight: bold;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar a {
  color: white;
}

.navbar :hover {
  text-decoration: none;
}

// .mobileMenu {
//   margin-left: 70px;
// }
